{# Base for Twig page #}
{% extends 'base.html.twig' %}

{# Page title #}
{% block title %}Formulaire de contact{% endblock %}

{# Page CSS #}
{% block css %}
    {# Insertion du fichier JS dans le block stylesheets conformément à la documentation de Recaptcha qui préconise d'intégrer ce fichier JS dans le head #}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{# Page content #}
{% block body %}

<div class="container-fluid">

	{# Titre H1 #}
	<div class="row">
		<h1 class="col-12 text-center my-5">Une question ? Un message ?</h1>
        <h3 class="col-12 text-center my-5">Utilisez notre formulaire !</h3>
	</div>

	<div class="row">
		<div class="col-12 col-md-8 offset-md-2">
			<div class="row">
				<p>
					{# affichage du formulaire sans le recaptcha {{ form(formContact) }} #}

					{# Ouverture du formulaire #}
					{{ form_start(contactForm) }}

					{# Affichage des erreurs générales du formulaire #}
					{{ form_errors(contactForm) }}

					{# Affichage du champ sujet #}
					{{ form_row(contactForm.subject) }}

					{# Affichage du champ email #}
					{{ form_row(contactForm.email) }}

					{# Affichage du champ content #}
					{{ form_row(contactForm.content) }}

					{# Affichage du captcha avec la clé publique récupérée directement grâce à la passerelle faite dans twig.yaml #}
					<div class="form-group">
						<div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
					</div>

					{# Affichage du bouton de validation #}
					{{ form_row(contactForm.save) }}

					{# Fermeture du formulaire #}
					{{ form_end(contactForm) }}

                    {# NB : sécurité : pas besoin d'échapper les caractères HTML avec l'équivalent de htmlspecialchars car avec twig c'est échappé automatiquement #}
				</p>
			</div>

		</div>

	</div>

{% endblock %}


	{# Page footer #}
	{% block footer %}
		{% include 'partials/footer-full.html.twig' %}
	{% endblock %}

	{# Page JS #}
	{% block js %}{% endblock %}