{# Base for Twig page #}
{% extends 'base.html.twig' %}

{# Page title #}
{% block title %}Modification du profil{% endblock %}

{# Page CSS #}
{% block css %}{% endblock %}

{# Page content #}
{% block body %}

	<div class="container-fluid">

		{# Title #}
		<div class="row">
			<h1 class="col-12 text-center my-5">Changez votre mot de passe</h1>
		</div>

		{# Form to modify information #}
		<div class="row">
			<div class="col-12 col-md-5 col-lg-4 offset-md-4">

				{{ form_start(editPasswordForm) }}

				<div class="form-outline mt-5 mb-4">
					{{ form_widget(editPasswordForm.oldPassword) }}
					{% block oldPassword_label %}
						<label for="{{ editPasswordForm.oldPassword.vars.id }}" class="form-label required" style="margin-left: 0px;">
							{{ editPasswordForm.oldPassword.vars.label }} <span class="text-danger">*</span></label>
					{% endblock %}
					{{ form_errors(editPasswordForm.oldPassword) }}
				</div>

				<div class="form-outline my-5">
					{{ form_widget(editPasswordForm.newPassword.children.first) }}
					{% block pass1_label %}
						<label for="{{ editPasswordForm.newPassword.children.first.vars.id }}" class="form-label required" style="margin-left: 0px;">
							{{ editPasswordForm.newPassword.children.first.vars.label }} <span class="text-danger">*</span></label>
					{% endblock %}
					{{ form_errors(editPasswordForm.newPassword.children.first) }}
				</div>

				<div class="form-outline my-5">
					{{ form_widget(editPasswordForm.newPassword.children.second) }}
					{% block pass2_label %}
						<label for="{{ editPasswordForm.newPassword.children.second.vars.id }}" class="form-label required" style="margin-left: 0px;">
							{{ editPasswordForm.newPassword.children.second.vars.label }} <span class="text-danger">*</span></label>
					{% endblock %}
					{{ form_errors(editPasswordForm.newPassword.children.second) }}
				</div>

				<div class="ms-1 my-3"><span class="text-danger">*</span> : champ obligatoire</div>
				<div class=" ms-3 mt-2 mb-5">
					Votre mot de passe doit contenir au moins 8 caractères :<br>
					- 1 lettre minuscule (a-z) <br>
					- 1 lettre majuscule (A-Z) <br>
					- 1 chiffre (0-9) <br>
					- un caractère spécial
				</div>

				{{ form_row(editPasswordForm.save) }}

				{{ form_end(editPasswordForm) }}

			</div>
		</div>

	</div>

{% endblock %}


{# Page footer #}
{% block footer %}
	{% include 'partials/footer-small.html.twig' %}
{% endblock %}

{# Page JS #}
{% block js %}{% endblock %}