{# Base for Twig page #}
{% extends 'base.html.twig' %}

{# Page title #}
{% block title %}Gestion du profil{% endblock %}

{# Page CSS #}
{% block css %}{% endblock %}

{# Page content #}
{% block body %}

	<div class="container-fluid">

		{# Titre H1 #}
		<div class="row">
			<h1 class="col-12 text-center my-5">Gestion du profil</h1>
		</div>

		<div class="row">
			<div class="col-12 col-md-10 offset-md-1">
				<div class="row">


					{# Left block #}
					<div class="col-12 col-md-3 gradient-custom-reverse-50 px-2 py-3 text-center rounded-start">

						{# Avatar #}
						<div class="row">
							<div class="col-12 profil-photo mx-2 d-flex justify-content-center align-items-center">

								{% if app.user.avatar is not null %}

									<img class="img-fluid img-thumbnail-mini me-3"
										 src="{{ asset('img/uploads/avatar/' ~ app.user.avatar) }}"
										 alt="avatar"
									>
								{% else %}

									<img class="img-fluid img-thumbnail-mini me-3"
										 src="{{ asset('img/default_avatar.png') }}"
										 alt="default avatar"
									>

								{% endif %}

							</div>
						</div>

						{# Link to page to chage avatar #}
						<div class="row">
							<div class="col-12 pt-3">
								<a class="text-compliment fw-bold" href="{{ path('main_avatar_edit') }}">Modifier l'avatar</a>

								{% if app.user.avatar is not null %}

									<br>
									<a class="text-compliment fw-bold" href="  {{ path('main_avatar_delete') }}">Supprimer l'avatar</a>

								{% endif %}
							</div>
						</div>
					</div>


					{# Right block #}
					<div class="col-12 col-md-9 px-2 py-3 gradient-custom d-flex justify-content-center align-items-center rounded-end">

						{# Account info #}
						<ul class="list-group col-12 col-md-10 p-0 my-4  d-flex">

							<li class="list-group-item text-basecolor text-muted fw-bold py-3">
								Email : <span class="text-compliment fw-normal">{{ app.user.email }}</span>
							</li>

							<li class="list-group-item text-basecolor text-muted fw-bold py-3">
								Username : <span class="text-compliment fw-normal">{{ app.user.nickname }}</span>
							</li>

							<li class="list-group-item text-basecolor text-muted fw-bold py-3">
								Date d'inscription :
								<span class="text-compliment fw-normal">{{ app.user.registrationDate|date('d/m/Y') }}</span>
								<span class="fw-normal"> à </span>
								<span class="text-compliment fw-normal">{{ app.user.registrationDate|date('H\\hi') }}</span>
							</li>

							<li class="list-group-item text-basecolor text-muted fw-bold py-3">
								Type de compte : <span class="text-compliment fw-normal">{{ is_granted('ROLE_ADMIN') ? 'Administrateur' : 'Membre' }}</span>
							</li>

							<li class="list-group-item text-basecolor text-muted fw-bold py-2">
								<a class="btn btn-lg btn-warning py-1 col-8 offset-2 mb-2" href="{{ path('main_profil_edit') }}"><i class="fas fa-user-edit me-1"></i>Modifier profil</a>
								<a class="btn btn-lg btn-danger py-1 col-8 offset-2" href="{{ path('main_profil_delete') }}"><i class="fas fa-user-times me-1"></i>Supprimer profil</a>
							</li>

						</ul>
					</div>

				</div>
			</div>
		</div>

	</div>

{% endblock %}

{# Page footer #}
{% block footer %}
	{% include 'partials/footer-small.html.twig' %}
{% endblock %}

{# Page JS #}
{% block js %}{% endblock %}
