{# Base for Twig page #}
{% extends 'base.html.twig' %}

{# Page title #}
{% block title %}Liste des films{% endblock %}

{# Page CSS #}
{% block css %}{% endblock %}

{# Page content #}
{% block body %}

	<div class="container-fluid">

		{# H1 Title #}
		<div class="row">
			<h1 class="col-12 text-center my-5">Liste des films</h1>
		</div>

		<div class="row">
			<div class="col-12 col-md-8 offset-md-2 list-group mb-5">

				{# Admin films list #}
				{% for film in films %}

					{% if loop.index % 2 != 0 %}

						<a href="{{ path('film_detail', {slug: film.slug}) }}"
						   class="list-group-item list-group-item-action gradient-basecolor-reverse-50 list-group-gradient-reverse-50-hover"
						   aria-current="true"
						>
							<div class="card">
								<div class="row g-0">
									<div class="col-2 d-none d-lg-block" style="max-width: 150px">
										{# If film got poster we show him else we use default_poster #}
										{% if film.poster is not null %}

											<img class="img-fluid img-thumbnail-mini border border-4 me-3" src="{{ film.poster }}" alt="{{ film.name }}">

										{% else %}

											<img class="poster2 img-fluid img-thumbnail-mini border border-4 me-3" src="{{ asset('img/default_poster.png') }}" alt="pas d\'image">

										{% endif %}
									</div>
									<div class="col-10">
										<div class="card-body">
											<h5 class="card-title">{{ film.name }} ({{ film.year }})</h5>
											<p class="card-text fs-7 text-muted mb-2">{{ film.synopsis|excerpt(250) }}</p>
											<p class="card-text"><small class="text-black-50">{{ film.genre }}</small></p>
										</div>
									</div>
								</div>
							</div>
						</a>


					{% endif %}

					{% if loop.index % 2 == 0 %}

						<a href="{{ path('film_detail', {slug: film.slug}) }}"
						   class="list-group-item list-group-item-action gradient-basecolor-reverse-50 list-group-gradient-reverse-50-hover"
						   aria-current="true"
						>
							<div class="card">
								<div class="row g-0">
									<div class="col-2 d-none d-lg-block" style="max-width: 150px">
										<img src="{{ film.poster }}" alt="{{ film.name }}" class="img-fluid"/>
									</div>
									<div class="col-10">
										<div class="card-body">
											<h5 class="card-title">{{ film.name }} ({{ film.year }})</h5>
											<p class="card-text fs-7 text-muted mb-2">{{ film.synopsis|excerpt(250) }}</p>
											<p class="card-text"><small class="text-black-50">{{ film.genre }}</small></p>
										</div>
									</div>
								</div>
							</div>
						</a>

					{% endif %}

				{% endfor %}

			</div>

		</div>

	</div>

{% endblock %}

{# Page footer #}
{% block footer %}
	{% include 'partials/footer-small.html.twig' %}
{% endblock %}

{# Page JS #}
{% block js %}{% endblock %}