{# Base for Twig page #}
{% extends 'base.html.twig' %}

{# Page title #}
{% block title %}Résultat de la recherche{% endblock %}

{# Page CSS #}
{% block css %}{% endblock %}

{# Page content #}
{% block body %}

	<div class="container-fluid">

		{# Titre H1 #}
		<div class="row">
			<h1 class="col-12 text-center my-2 my-md-5">Résultat pour la recherche : {{ search }}</h1>
		</div>

		{# Total number of films #}
		<div class="row">
			<p class="col-12 text-center mb-1">Nombre de films trouvés : {{ films.getTotalItemCount }}</p>
		</div>

		{# Show sorting & pagination if any film is present #}
		{% if films.getTotalItemCount > entity_number_by_page %}

			<div class="row">
				<div class="col-12 my-1 text-center">
					<div class="d-inline-block">
						{{ knp_pagination_render(films) }}
					</div>
				</div>
			</div>

		{% endif %}

		<div class="row">
			<div class="col-12 col-md-8 offset-md-2 list-group mb-5 p-0">

				{# Admin films list #}
				{% for film in films %}

					<a href="{{ path('film_detail', {slug: film.slug}) }}"
					   class="list-group-item list-group-item-action list-group-gradient-reverse-50 list-group-gradient-reverse-50-hover-2 p-3"
					   aria-current="true"
					>
						<div class="card">
							<div class="row g-0">
								<div class="col-4 ps-2 pt-3 ps-md-0 pt-md-0 d-lg-block" style="max-width: 150px">

									{# If film got poster we show him else we use default_poster #}
									{% if film.poster is not null %}
										<img class="img-fluid img-thumbnail-mini border border-4 me-3" style="object-fit: contain" src="{{ film.poster }}" alt="{{ film.name }}" title="Poster">
									{% else %}
										<img class="poster2 img-fluid img-thumbnail-mini border border-4 me-3" style="object-fit: contain" src="{{ asset('img/default_poster.png') }}" alt="Pas d\'image" title="Poster">
									{% endif %}

								</div>
								<div class="col-8">
									<div class="card-body">
										<h5 class="card-title">{{ film.name }} ({{ film.year }})</h5>
										<p class="card-text fs-7 text-muted mb-2">{{ film.synopsis|excerpt(250) }}</p>
										<p class="card-text"><small class="text-black-50">{{ film.genre }}</small></p>
									</div>
								</div>
							</div>
						</div>
					</a>

				{% else %}

					<div class="row mt-4">
						<div class="col-12">

							<div class="row justify-content-center">

								<div class="col-2 text-center shadow-custom bg-tw-info bg-icon d-none d-md-block border-radius-start">
									<div class="d-flex align-items-center justify-content-center h-100">
										<i class="fas fa-info-circle fs-3 text-white"></i>
									</div>
								</div>

								<div class="col-10 text-start shadow-custom bg-white px-3 pt-2 custom-border-radius">
									<span class="fs-5 color-tw-info">Aucun film trouvé</span>
									<p class="mt-2">Aucun résultat pour votre recherche</p>
								</div>

							</div>

						</div>
					</div>

				{% endfor %}

			</div>

		</div>

		{# Show sorting & pagination if any collection is present #}
		{% if films.getTotalItemCount > entity_number_by_page %}

			<div class="row">
				<div class="col-12 my-1 text-center">
					<div class="d-inline-block">
						{{ knp_pagination_render(films) }}
					</div>
				</div>
			</div>

		{% endif %}

	</div>

{% endblock %}

{# Page footer #}
{% block footer %}
	{% include 'partials/footer-small.html.twig' %}
{% endblock %}

{# Page JS #}
{% block js %}{% endblock %}