{# Base for Twig page #}
{% extends 'base.html.twig' %}

{# Page title #}
{% block title %}Collections{% endblock %}

{# Page CSS #}
{% block css %}{% endblock %}

{# Page content #}
{% block body %}

	<div class="container-fluid">

		<div class="row">
			<h1 class="col-12 text-center my-5">Collections</h1>
		</div>

		<div class="row">
			<div class="col-12 col-md-8 offset-md-2">

				{# Total number of collections #}
				<div class="row">
					<p class="col-12 text-center mb-1">Nombre total de collections : {{ collects.getTotalItemCount }}</p>
				</div>

				{# Show sorting & pagination if any collection is present #}
				{% if collects is not empty and collects.getTotalItemCount > 1 %}
					<div class="row">
						<div class="col-12 my-1 text-center tri">

							<div class="d-inline-block">

								{# Sorting collections by Date #}
								<div class="page-item d-inline-block">
									<p class="page-link text-basecolor my-0">
										{{ knp_pagination_sortable(collects, 'Trier par date', 'c.publicationDate') }}
									</p>
								</div>{#
								Sorting collections by name
								#}
								<div class="page-item d-inline-block">
									<p class="page-link text-basecolor my-0">
										{{ knp_pagination_sortable(collects, 'Trier par titre', 'c.name') }}
									</p>
								</div>

							</div>

						</div>
					</div>

					{% if collects.getTotalItemCount > collection_number_by_page %}

						<div class="row">
							<div class="col-12 my-1 text-center">
								<div class="d-inline-block">
									{{ knp_pagination_render(collects) }}
								</div>
							</div>
						</div>

					{% endif %}

				{% endif %}


				{# List of collections #}

				{% if collects.getTotalItemCount != 0 %}
				<div class="row row-cols-1 row-cols-md-2">{% endif %}

					{% for collect in collects %}

						<div class="col-12">
							{# each collection will be in a card #}
							<div class="card my-3 border border-basecolor gradient-basecolor-reverse-50 txt-deco-none rounded-6">

								{# Collect name #}
								<div class="card-header">
									<a class="text-compliment fw-bold" href="{{ path('collect_view', {slug: collect.slug}) }}">
										<i class="fas fa-film me-2"></i>{{ collect.name }}
									</a>
								</div>

								{# Collect body #}
								<div class="card-body my-0 py-0 ms-4">
									<div>
										{#
										Most likely a number of film in the list
											and median film note
										#}
{#										{% dump(collect.film) %}#}
										<p class="text-basecolor mb-0 mt-2">Nombre de films :
											<span class="text-compliment">{{ collect.name }}{# {{ collect.film|length }} #}</span>
										</p>
										<p class="text-basecolor mb-0 mt-1">Note moyenne des films :
											<span class="text-compliment">{{ collect.name }}</span>
										</p>
										<div class="blockquote-footer my-1 py-0 ms-2">
											<small class="text-muted">
												publié le <strong class="text-compliment">{{ collect.publicationDate|date('d/m/Y') }}</strong>
												à <strong class="text-compliment">{{ collect.publicationDate|date('H\\hi') }}</strong>
												par <strong class="text-compliment">{{ collect.author.nickname }}</strong>
											</small>
										</div>
									</div>
								</div>

								{# Collection footer #}
								<div class="card-footer pt-0">
									{# Show modify/delete buttons depending on connected user role #}
									<p class="mb-0 mt-2 me-1">
										{# Modify a collection #}
										{# TODO: also grant access if ROLE_USER and connected user id === author id #}
										{% if is_granted("ROLE_ADMIN") %}
											<a href="{# {{ path('blog_article_edit', {id: article.id}) }} #}" class="text-modify"><i
														class="fas fa-edit me-1 text-modify"></i>modifier</a>
										{% endif %}
										{#
										Delete a collection :
										 - onclick="" to confirm the suppression through JS confirm()
										 - CSRF token in URL
										#}
										{# TODO: also grant access if ROLE_USER and connected user id === author id #}
										{% if is_granted("ROLE_ADMIN") %}
											<a href="{# {{ path('blog_article_delete', { id: article.id, csrf_token: csrf_token('blog_article_delete_' ~ article.id ) }) }} #}"
											   class="text-delete" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette collection ?')"><i
														class="fas fa-trash mx-1 text-delete"></i>supprimer</a>
										{% endif %}
									</p>
								</div>

							</div>

						</div>



					{% else %}

						<div class="row">

							<div class="col-12 text-center">

								<div class="row">
									{# Tailwind alert #}
									<div class="col-12 col-md-8 offset-md-2 d-flex rounded-start rounded-end mt-4" role="alert">
										<div class="text-center d-flex align-items-center justify-content-center offset-1 col-1 shadow-custom bg-tw-info bg-icon"
											 style="border-radius: .6rem 0 0 .6rem !important;">
											<i class="fas fa-info-circle fs-3 text-white"></i>
										</div>
										<div class="text-start bg-white px-3 pt-2 col-9 shadow-custom" style="border-radius: 0 .6rem .6rem 0 !important;">
											<span class="fs-5 color-tw-info">Aucune collection</span>
											<p><a class="text-dark fs-6" href="{{ path('collect_new') }}">Créer une collection ICI</a></p>
										</div>
									</div>
								</div>

							</div>

						</div>

					{% endfor %}

					{% if collects.getTotalItemCount != 0 %}</div>{% endif %}


				{# Show pagination if any collection is present #}
				{% if collects is not empty %}
					<div class="row">
						<div class="col-12 my-3 text-center">
							<div class="d-inline-block">
								{{ knp_pagination_render(collects) }}
							</div>
						</div>
					</div>
				{% endif %}

			</div>
		</div>

	</div>

{% endblock %}

{# Page footer #}
{% block footer %}
	{% include 'partials/footer-small.html.twig' %}
{% endblock %}

{# Page JS #}
{% block js %}{% endblock %}