{# The Twig variable "route" will contains the name of the currently loaded route #}
{% set route = app.request.attributes.get('_route') %}
<!DOCTYPE HTML>
<html class="h-100" lang="fr">
<head>
	<title>
		{% block title %}Nouvelle page{% endblock %} - {{ site_name }}
	</title>
	<meta charset="UTF-8">
	<meta name="description" content="{{ site_name }}, créer et partager des collections de films">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- To deactivate IE compatibility mode which can create bugs -->
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Add compatibility for informative tags with the oldest IE versions (IE9 and before) -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->

	{# FontAwesome CSS file #}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

	{# MDBootstrap CSS file #}
	<link rel="stylesheet" href="{{ asset('css/mdbootstrap.min.css') }}">

	{# Custom CSS file #}
	<link rel="stylesheet" href="{{ asset('css/styles.css') }}">

	{# Custom CSS block if needed #}
	{% block css %}{% endblock %}
</head>

<body class="d-flex flex-column h-100">
	<main class="flex-shrink-0">

		{# Navbar #}
		{# TODO: affichage du menu en mode tel CRADE DE LA MERDE JE GERBE #}
		<nav class="navbar navbar-expand-xl navbar-light gradient-basecolor">
			<div class="container-fluid">

				{# Bouton toggle #}
				<button class="navbar-toggler"
						type="button"
						data-mdb-toggle="collapse"
						data-mdb-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation"
				>
					<i class="fas fa-bars"></i>
				</button>

				{# div collapsable #}
				<div class="collapse navbar-collapse mb-0" id="navbarSupportedContent">

					{# LOGO & TITLE #}
					<a class="navbar-brand my-2 my-lg-0" href="{{ path('main_home') }}">
						<img src="{{ asset('img/logo.png') }}"
							 alt="logo"
							 loading="lazy"
							 height="55"
						>
					</a>

					{# Left side buttons #}
					<ul class="navbar-nav me-auto mb-lg-0">

						{# HOME button #}
						<li class="nav-item mx-lg-1">
							<a class="nav-link btn btn-lg w-100 btn-nav nav-btn-hover{{ route == 'main_home' ? ' nav-btn' : ' text-dark' }}"
							   href="{{ path('main_home') }}"
							   data-mdb-ripple-color="{{ ripple_color_white }}" {# {{ ripple_color_blue }} #}
							   data-mdb-ripple-centered="true"
							>
								<i class="fas fa-home me-2"></i>Accueil
							</a>
						</li>


						{# Left side dropdown 1 #}
						<li class="nav-item dropdown mx-lg-1">
							{# TODO: route #}
							<a class="nav-link btn btn-lg w-100 btn-nav dropdown-toggle nav-btn-hover{{ (route == 'collect_list' or route == 'collect_new') ? ' nav-btn' : ' text-dark' }}"
							   href="#"
							   id="collectsDropdownMenuLink"
							   role="button"
							   data-mdb-toggle="dropdown"
							   aria-expanded="false"
							>
								<i class="fas fa-layer-group me-2"></i>Collections
							</a>
							<ul class="dropdown-menu dropdown-menu-bg dropdown-menu-start dropdown-menu-lg-end" aria-labelledby="collectsDropdownMenuLink">

								{# TODO: href #}
								<li>
									<a class="dropdown-item nav-drop-hover" href="{{ path('collect_list') }}">
										<i class="fas fa-list-ul me-2"></i>Listes de collections
									</a>
								</li>

								{# Only shown if a user is logged in #}
								{% if is_granted('ROLE_USER') %}
									<li class="dropdown-hr my-1"></li>
									{# TODO: href #}
									<li>
										<a class="dropdown-item nav-drop-hover" href="{{ path('collect_new') }}">
											<i class="far fa-plus-square me-2"></i>Nouvelle collection
										</a>
									</li>
								{% endif %}

							</ul>
						</li>


						{# Left side dropdown 2 #}
						<li class="nav-item dropdown mx-lg-1">
							{# TODO: route #}
							<a class="nav-link btn btn-lg w-100 btn-nav dropdown-toggle nav-btn-hover{{
							   (route == 'film_list' or route == 'film_new' or route == 'film_add' or route == 'film_view') ? ' nav-btn' : ' text-dark' }}"
							   href="#"
							   id="filmsDropdownMenuLink"
							   role="button"
							   data-mdb-toggle="dropdown"
							   aria-expanded="false"
							>
								<i class="fas fa-film me-2"></i>Films
							</a>
							<ul class="dropdown-menu dropdown-menu-bg dropdown-menu-start" aria-labelledby="filmsDropdownMenuLink">

								<li>
									<a class="dropdown-item nav-drop-hover" href="{{ path('film_list') }}">
										<i class="fas fa-list-ul me-2"></i>Listes des films
									</a>
								</li>

								{# Only shown if a user is admin in #}
								{% if is_granted('ROLE_ADMIN') %}
									<li class="dropdown-hr my-1"></li>
									<li>
										<a class="dropdown-item nav-drop-hover" href="{{ path('film_add') }}">
											<i class="far fa-plus-square me-2"></i>Ajouter un film
										</a>
									</li>
								{% endif %}

							</ul>
						</li>
					</ul>


					{# Right side buttons #}
					{# TODO: Menu hors ecran en mode mobile (gauche) #}
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">


						{% if app.user %}{# if user is connected #}

							{# Dropdown de droite: User #}
							<li class="nav-item dropdown mx-lg-1">
								<a class="nav-link btn w-100 dropdown-toggle nav-btn-hover{{ (route == 'main_profil' or route == 'main_logout') ? ' nav-btn' : ' text-dark' }}"
								   href="#"
								   id="profilDropdownMenuLink"
								   role="button"
								   data-mdb-toggle="dropdown"
								   aria-expanded="false"
								>
									{% if app.user.avatar is not null %}

										<img src="{{ asset('img/uploads/avatar/' ~ app.user.avatar) }}"
											 class="rounded-circle me-1"
											 height="28"
											 width="28"
											 alt="menu profil"
											 title="menu profil"
											 loading="lazy"
										/>
									{% else %}

										<img src="{{ asset('img/default_avatar.png') }}"
											 class="rounded-circle me-1"
											 height="28"
											 width="28"
											 alt="menu profil"
											 title="menu profil"
											 loading="lazy"
										/>

									{% endif %}
								</a>

								<ul class="dropdown-menu dropdown-menu-start dropdown-menu-lg-end dropdown-menu-bg" aria-labelledby="profilDropdownMenuLink">

									<li>
										<a class="dropdown-item nav-drop-hover" href="{{ path('main_profil') }}"><i class="fa fa-user-cog me-2"></i>Mon profil</a>
									</li>

									{% if is_granted('ROLE_ADMIN') %}

										<li class="dropdown-hr my-1"></li>

										<li>
											<a class="dropdown-item nav-drop-hover" href="{{ path('admin_home') }}"><i class="fas fa-tools text-black-75 me-2"></i>Administration</a>
										</li>

									{% endif %}

									<li class="dropdown-hr my-1"></li>

									<li>
										<a class="dropdown-item nav-drop-hover" href="{{ path('main_logout') }}"><i class="fas fa-sign-out-alt me-2"></i>Déconnexion</a>
									</li>

								</ul>
							</li>


						{% else %}{# if user is not connected #}

							<li class="nav-item mx-lg-1">
								<a class="nav-link btn btn-lg w-100 nav-btn-hover{{ route == 'main_register' ? ' nav-btn' : ' text-dark' }}"
								   href="{{ path('main_register') }}"
								   data-mdb-ripple-color="{{ ripple_color_white }}" {# {{ ripple_color_blue }} #}
								   data-mdb-ripple-centered="true"
								>
									<i class="fas fa-user-plus mx-1"></i>Inscription
								</a>
							</li>
							<li class="nav-item mx-lg-1">
								<a class="nav-link btn btn-lg w-100 nav-btn-hover{{ route == 'main_login' ? ' nav-btn' : ' text-dark' }}"
								   href="{{ path('main_login') }}"
								   data-mdb-ripple-color="{{ ripple_color_white }}" {# {{ ripple_color_blue }} #}
								   data-mdb-ripple-centered="true"
								>
									<i class="fas fa-sign-in-alt mx-1"></i>Connexion
								</a>
							</li>


						{% endif %}

					</ul>


					{# Search #}
					{# TODO: action #}
					{# TODO: 'btn ou d-flex' qui fait u bug au click sur la loupe #}
					<form class="d-flex mx-lg-1" method="GET" action="{# {{ path('collect_search') }} #}">
						<input class="form-control search-outline flex-fill" type="search" placeholder="Trouver un film" aria-label="Search" name="q">
						<button class="btn nav-outline-btn ms-1"
								type="submit"
								data-mdb-ripple-color="{{ ripple_color_white }}" {# {{ ripple_color_blue }} #}
								data-mdb-ripple-centered="true"
						>
							<i class="fas fa-search"></i>
						</button>
					</form>
				</div>
			</div>
		</nav>


		{# Flash messages #}
		{% include 'partials/flash-success.html.twig' %}
		{% include 'partials/flash-info.html.twig' %}
		{% include 'partials/flash-warning.html.twig' %}
		{% include 'partials/flash-error.html.twig' %}

		{# <body></body> #}
		{% block body %}{% endblock %}

	</main>


	{# footer #}
	{% block footer %}{% endblock %}


	{# MDBooststrap JS file #}
	<script type="text/javascript" src="{{ asset('js/mdbootstrap.min.js') }}"></script>

	{# Custom JS file/block if needed #}
	{% block js %}{% endblock %}
</body>
</html>