{# la variable Twig "route" contiendra le nom de la route actuellement chargée #}
{% set route = app.request.attributes.get('_route') %}
<!DOCTYPE HTML>
<html lang="fr">
<head>
	<title>{% block title %}Nouvelle page{% endblock %} - {{ site_name }}</title>
	<meta charset="UTF-8">
	<meta name="description" content="{{ site_name }}, créer et partager des collection de film">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- To deactivate IE compatibility mode which can create bugs -->
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Add compatibility for informative tags with the oldest IE versions (IE9 and before) -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->
	{# Inclusion du CSS de FontAwesome #}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	{# Inclusion du CSS de MDBootstrap #}
	<link rel="stylesheet" href="{{ asset('css/mdbootstrap.min.css') }}">
	{# Inclusion du CSS de Booststrap : #}
	{# <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"> #}
	{# Inclusion du CSS personnel : #}
	<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
	{# Inclusion des fichiers/code CSS individuel des pages qui en ont besoin #}
	{% block css %}{% endblock %}
</head>

<body>
	{# Navbar principal #}
	<nav class="navbar navbar-expand-lg navbar-light gradient-custom">
		<div class="container-fluid">

			{# Bouton toggle #}
			<button class="navbar-toggler"
					type="button"
					data-mdb-toggle="collapse"
					data-mdb-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
			>
				<i class="fas fa-bars"></i>
			</button>

			{# div collapsable #}
			<div class="collapse navbar-collapse mb-0" id="navbarSupportedContent">

				{# Logo et titre du site #}
				<a class="navbar-brand my-2 my-lg-0" href="{{ path('main_home') }}">
					<img src="{{ asset('img/logo.png') }}"
						 alt="logo"
						 loading="lazy"
						 height="55"
					>
				</a>

				{# Boutons de gauche #}
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					{# Boutton ACCUEIL #}
					<li class="nav-item">
						<a class="btn btn-lg nav-btn-hover{{ route == 'main_home' ? ' nav-btn' : ' text-dark' }}"
						   href="{{ path('main_home') }}"
						   data-mdb-ripple-color="#195DDB"
						   data-mdb-ripple-centered="true"
						>
							<i class="fas fa-home mx-1"></i>Accueil
						</a>
					</li>


					{# Dropdown de gauche: Collections #}
					<li class="nav-item dropdown">
						{# TODO: route #}
						<a class="nav-link btn btn-lg dropdown-toggle{# {{ (route == 'blog_article_list' or route == 'blog_new_article') ? ' nav-btn' : ' text-dark' }} #}"
						   href="#"
						   id="navbarDropdownMenuLink"
						   role="button"
						   data-mdb-toggle="dropdown"
						   aria-expanded="false"
						>
							<i class="fas fa-film me-1"></i></i>Collections
						</a>
						<ul class="dropdown-menu" style="background-color: #dbe2ee" aria-labelledby="navbarDropdownMenuLink">

							{# TODO: href #}
							<li>
								<a class="dropdown-item nav-drop-hover" href="{# {{ path('blog_article_list') }} #}"><i class="fas fa-list-ul me-1"></i></i>Listes de
									collections</a>
							</li>

							{# Bouton vers la création d'une nouvelle collection si l'utilisateur possède le rôle admin #}
							{# TODO: is_granted #}
							{# {% if is_granted('ROLE_ADMIN') %} #}
							<li class="dropdown-hr"></li>
							{# TODO: href #}
							<li>
								<a class="dropdown-item nav-drop-hover" href="{# {{ path('blog_new_article') }} #}"><i class="far fa-plus-square me-1"></i>Nouvelle collection</a>
							</li>
							{# {% endif %} #}

						</ul>
					</li>
				</ul>


				{# Boutons de droite #}
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">

					{# TODO: if #}
					{# {% if app.user %} #}{# si l' utilisateur est connecté #}


					{# Dropdown de droite: User #}
					<li class="nav-item dropdown">
						{# TODO: route #}
						<a class="nav-link dropdown-toggle{# {{ (route == 'main_profil' or route == 'main_logout') ? ' nav-btn' : ' text-dark' }} #}"
						   href="#"
						   id="profilDropdownMenuLink"
						   role="button"
						   data-mdb-toggle="dropdown"
						   aria-expanded="false"
						>
							<img src="https://mdbootstrap.com/img/new/avatars/2.jpg"
								 class="rounded-circle"
								 height="40"
								 alt="avatar"
								 loading="lazy"
							/>
							{# TODO: app.user #}
							{# {{ app.user.nickname }} #}
						</a>

						<ul class="dropdown-menu" style="background-color: #dbe2ee" aria-labelledby="profilDropdownMenuLink">

							{# TODO: href #}
							<li>
								<a class="dropdown-item nav-drop-hover" href="{# {{ path('main_profil') }} #}"><i class="fa fa-user-cog me-1"></i>Mon profil</a>
							</li>
							<li class="dropdown-hr"></li>
							{# TODO: href #}
							<li>
								<a class="dropdown-item nav-drop-hover" href="{# {{ path('main_logout') }} #}"><i class="fas fa-sign-out-alt me-1"></i>Déconnexion</a>
							</li>

						</ul>
					</li>


					{# TODO: if #}
					{# {% else %} #}{# si l' utilisateur n' est pas connecté #}

					<li class="nav-item d-inline-block">
						{# TODO: href, route #}
						<a class="btn btn-lg nav-btn-hover{{ route == 'main_register' ? ' nav-btn' : ' text-dark' }}"
						   href="{# {{ path('main_register') }} #}"
						   data-mdb-ripple-color="#195DDB"
						   data-mdb-ripple-centered="true"
						>
							<i class="fas fa-user-plus mx-1"></i>Inscription
						</a>
					</li>
					<li class="nav-item">
						{# TODO: href, route #}
						<a class="btn btn-lg nav-btn-hover{{ route == 'main_login' ? ' nav-btn' : ' text-dark' }}"
						   href="{# {{ path('main_login') }} #}"
						   data-mdb-ripple-color="#195DDB"
						   data-mdb-ripple-centered="true"
						>
							<i class="fas fa-sign-in-alt mx-1"></i>Connexion
						</a>
					</li>

					{# TODO: if #}
					{# {% endif %} #}

				</ul>


				{# Recherche #}
				{# TODO: action #}
				<form class="d-flex" method="GET" action="{# {{ path('blog_search') }} #}">
					<input class="form-control mx-2 search-outline" type="search" placeholder="Trouver une collection" aria-label="Search" name="q">
					<button class="btn nav-outline-btn"
							type="submit"
							data-mdb-ripple-color="#FFFFFF"
							data-mdb-ripple-centered="true">
						<i class="fas fa-search"></i>
					</button>
				</form>
			</div>
		</div>
	</nav>


	{# Affichage des messages flashs de succès s' il y en a #}
	{% include 'partials/flash-success.html.twig' %}
	{# Affichage des messages flashs d' info s' il y en a #}
	{% include 'partials/flash-info.html.twig' %}
	{# Affichage des messages flashs de warning s' il y en a #}
	{% include 'partials/flash-warning.html.twig' %}
	{# Affichage des messages flashs d' erreur s' il y en a #}
	{% include 'partials/flash-error.html.twig' %}

	{# <body></body> de la page #}
	{% block body %}{% endblock %}

	{# footer de la page #}
	{% block footer %}{% endblock %}


	{# Inclusion du JS de MDBooststrap #}
	<script type="text/javascript" src="{{ asset('js/mdbootstrap.min.js') }}"></script>
	{# Inclusion du JS de Booststrap : #}
	{# <script type="text/javascript" src="{{ asset('js/bootstrap.bundle.min.js') }}"></script> #}
	{# Inclusion des fichiers JS individuel des pages qui en ont besoin #}
	{% block js %}{% endblock %}
</body>
</html>